<!-- About Section -->
   <section class="success" id="about">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <h2>About Me</h2>
                   <hr class="star-light">
                   <p>I am computer engineer, I like to develop extraordinary websites and applications.
                   </p>
                   <p> I enjoy constantly learning and improving my skills with the latest many technologies that power the web.</p>
               </div>
           </div>

       </div>
   </section>
