<!-- About Section -->
   <section class="success" id="project">
       <div class="container">
               <div class="col-lg-12 text-center">
                   <h2>Project</h2>
                   <hr class="star-light">
                <br>
                  <p> Assumption Parish Ottawa Website </p>
           <a href="http://assumptionparishottawa.com/" target="_blank">
             <img src="{{site.baseurl}}/img/church.PNG" alt="">
           </a>
           <a href="http://assumptionparishottawa.com/" target="_blank">Assumption Parish Church</a>
           <p>Custom wordpress theme built for Assumption Parish Ottawa website</p>
          </div>
       </div>
   </section>
