<!-- About Section -->
   <section class="success" id="project">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <h2>Project</h2>
                   <hr class="star-light">
                    <p>Web developer </p>
                  <p> Assumption Parish Ottawa </p>
               </div>
           </div>

           <div class="project blistabloc">
         <figure class="project__pic">
           <a href="https://blistabloc.com/" target="_blank">
             <img src="{{site.baseurl}}/img/featured/blistabloc/blistabloc.png" alt="">
           </a>
         </figure>
         <figcaption class="project__caption">
           <div class="project__name">
             <a href="https://blistabloc.com/" target="_blank">blistabloc</a>
           </div>
           <p>Custom wordpress theme built with Timber and Woocommerce for blistabloc, the only reactive shoe insert that prevents
             blisters from forming.</p>
         </figcaption>
       </div>

       </div>
   </section>
