<!-- About Section -->
   <section class="success" id="project">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <h2>Project</h2>
                   <hr class="star-light">
                <br>
                  <p> Assumption Parish Ottawa Website </p>
               </div>
           </div>

           <div class="row">
           <a href="http://assumptionparishottawa.com/" target="_blank">
             <img src="{{site.baseurl}}/img/church.PNG" alt="">
           </a>

         <figcaption class="project_caption">
           <div class="project_name">
             <a href="http://assumptionparishottawa.com/" target="_blank">Assumption Parish Church</a>
           </div>
           <p>Custom wordpress theme built for Assumption Parish Ottawa website</p>
         </figcaption>
       </div>

       </div>
   </section>
