<!-- About Section -->
   <section class="success" id="resume">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <h2>Resume</h2>
                   <hr class="star-light">
                   <p>Take a look of my resume
                   </p>

               </div>
           </div>

           <div class="row">

               <div class="col-lg-8 col-lg-offset-2 text-center">
                   <a href="celso-cercado-jr-resume.pdf" class="btn btn-lg btn-outline">
                       <i class="fa fa-envelope"></i> Get a copy here!
                   </a>
               </div>
           </div>
       </div>
   </section>
