<!-- About Section -->
   <section class="success" id="resume">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <h2>Resume</h2>
                   <hr class="star-light">
                   <p>Take a look of my resume
                   </p>

               </div>
           </div>

           <div class="row">
                <div class="col-md-12">
                    <h2>Check out my résumé!</h2>
                        <div id="resume-button">
                                <a class="resume-btn wp4" href="celso-cercado-jr-resume.pdf" target="_blank">Grab A Copy</a>
                          </div>
                    </div>
              </div>
       </div>
   </section>
